# Python
venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Secrets - NEVER commit these
.env
dbt/profiles.yml

# Airflow
airflow/logs/
airflow/.astro/

# dbt
dbt/target/
dbt/dbt_packages/

# OS
.DS_Store
data/
dbt/logs/
dbt/.user.yml
